# Boolean

In [34]:
print(True, False)
print(1 == 1)
print(1 != 1)
print(1 > 1)
print(not True)

True False
True
False
False
False

# String

## basic operate

In [1]:
str1 = 'ABC' 
str2 = str1 
print("str1: ", str1, ", type: ", type(str1)) 
print(str1 == str2)

str1 = 'xyz'
print(str1 == str2)
print("str1 + str2: ", str1 + str2)

str1:  ABC , type:  <class 'str'>
True
False
str1 + str2:  xyzABC

## string slice

In [2]:
str3 = "ABC xyz 123\n"
print('str3[0]: ', str3[0], ', str3[-1]: ', str3[-1])
print('str3[:3]: ', str3[:3], ', str3[5:-1]: ', str3[5:-1])
print('str3[2:3:1]: ', str3[2:5:2])

str3[0]:  A , str3[-1]:

str3[:3]:  ABC , str3[5:-1]:  yz 123
str3[2:3:1]:  Cx

## other operate

In [3]:
# replace string
print('str3.replace: ', str3.replace('123','456')) 

# find string
print('str3.find: ', str3.find('xyz'))

# string split to list
print("str3.split: ", str3.split(' '))

# string strip
print("str3.rstrip: ", str3.rstrip())

# string split to char
print(list(str3))

str3.replace:  ABC xyz 456

str3.find:  4
str3.split:  ['ABC', 'xyz', '123\n']
str3.rstrip:  ABC xyz 123
['A', 'B', 'C', ' ', 'x', 'y', 'z', ' ', '1', '2', '3', '\n']

## format output

In [4]:
print("{}, {}!".format('Hi', 'Python'))

Hi, Python!

---

# Numeric

## number type

In [5]:
print(type(1))
print(type(-2.1))
print(type(1 + 2j))

<class 'int'>
<class 'float'>
<class 'complex'>

## number value

In [6]:
print(1)
print(-2.1)
print(1+2j)
print(0xff)
print(0o11)

1
-2.1
(1+2j)
255
9

## number assign

In [7]:
print(int(1))
print(float(-2.1))
print(complex(1, 2))
print(hex(255))
print(oct(9))

1
-2.1
(1+2j)
0xff
0o11

## string convert to number

In [8]:
STR="123"
VAR=int(STR)
print("STR: ", STR, ", VAR: ", VAR)
print("STR type: ",type(STR), ", VAR type: ", type(VAR))
STR="456"
print("STR: ", STR, ", VAR: ", VAR)

STR:  123 , VAR:  123
STR type:  <class 'str'> , VAR type:  <class 'int'>
STR:  456 , VAR:  123

---

# List

## basic operate

In [10]:
lst1 = [] 
print("LIST : ", lst1, ", LIST type: ", type(lst1))
lst1 = ["ABC", 'xyz', 123] 

lst2 = lst1 
lst3 = lst1[:] 
print("lst1: ", lst1, ", lst2: ", lst2, ", lst3: ", lst3)
lst1.append(45.7) 
lst1.remove('ABC') 
[2, 4, 1].sort() 
print("lst1: ", lst1, ", lst2: ", lst2, ", lst3: ", lst3)

for i in range(len(lst1)): 
    print("index: ", i, ", value: ", lst1[i])

for l in lst1: 
    print("value: ", l)

LIST :  [] , LIST type:  <class 'list'>
lst1:  ['ABC', 'xyz', 123] , lst2:  ['ABC', 'xyz', 123] , lst3:  ['ABC', 'xyz', 123]
lst1:  ['xyz', 123, 45.7] , lst2:  ['xyz', 123, 45.7] , lst3:  ['ABC', 'xyz', 123]
index:  0 , value:  xyz
index:  1 , value:  123
index:  2 , value:  45.7
value:  xyz
value:  123
value:  45.7

## String and List

In [11]:
# string convert to list
print("XYZ, abc, 123".split(", "))

# list convert to string
print('. '.join(['123', "abc", 'XYZ']))

['XYZ', 'abc', '123']
123. abc. XYZ

## 2D List

In [14]:
# 2D list
my_list1 = [] 
for x in range(5): 
    tmp_list = [] 
    for y in range(3): 
        tmp_list.append(None) 
    my_list1.append(tmp_list) 
print(my_list1)

# 使用 List Comprehensions 
my_list2 = [[None for _ in range(3)] for _ in range(5)] 
print(my_list2)

# 設定初始值不一樣的二維陣列 
my_list3 = [] 
for x in range(5): 
    tmp_list = [] 
    for y in range(3): 
        tmp_list.append(y + 3 * x) 
    my_list3.append(tmp_list) 
print(my_list3)

my_list4 = [[x + 3 * y for x in range(3)] for y in range(5)] 
print(my_list4)
print(my_list4[3][2])

[[None, None, None], [None, None, None], [None, None, None], [None, None, None], [None, None, None]]
[[None, None, None], [None, None, None], [None, None, None], [None, None, None], [None, None, None]]
[[0, 1, 2], [3, 4, 5], [6, 7, 8], [9, 10, 11], [12, 13, 14]]
[[0, 1, 2], [3, 4, 5], [6, 7, 8], [9, 10, 11], [12, 13, 14]]
11

---

# Dictionary

In [13]:
dict1 = {} 
print("DICTIONARY: ", dict1, "DICTIONARY type: ",type(dict1))

dict1 = {'A': 'ABC', "x": "xyz", "0": 123} 
dict2 = dict1
print("dict1: ", dict1, "dict2: ", dict2)
print(dict1 == dict2)

# get key and value
print("dict1['A']: ", dict1['A'])
print("dict1['A']: ", dict1.get('A'))
print("dict1['test']: ", dict1.get('test', 'default'))
print(dict1 == dict2)

# add key and value
dict1['G'] = 'A2x'
dict1.update({'4': 45.7})
print(dict1)

# remove key and. value
del(dict1['x'])
dict1.pop('A')
print("dict1: ", dict1)

for key in dict1.keys(): 
    print("key: ", key, "value: ", dict1[key])

DICTIONARY:  {} DICTIONARY type:  <class 'dict'>
dict1:  {'A': 'ABC', 'x': 'xyz', '0': 123} dict2:  {'A': 'ABC', 'x': 'xyz', '0': 123}
True
dict1['A']:  ABC
dict1['A']:  ABC
dict1['test']:  default
True
{'A': 'ABC', 'x': 'xyz', '0': 123, 'G': 'A2x', '4': 45.7}
dict1:  {'0': 123, 'G': 'A2x', '4': 45.7}
key:  0 value:  123
key:  G value:  A2x
key:  4 value:  45.7

## Check Key

In [29]:
hoilday = {'sat': 'Saturday', 'sun': 'Sunday'}

print('sun' in hoilday.keys())
print('sun' in hoilday)

True
True

---

# Tuple

In [30]:
# tuple 的顯示方式 
tup = (1, "xyz", 'ABC') 
for t in tup:
    print (t)

# net tuple 的使用方式 
h2o =((0, 0), (0, 1), (1, 0)) 
for atom in h2o:
    print (atom)

for x, y in h2o: 
    print (x, y)

1
xyz
ABC
(0, 0)
(0, 1)
(1, 0)
0 0
0 1
1 0

---

# Set

In [43]:
set1 = {1, 2, 3}
print(type(set1))
print(set1)

set2 = {}
print(type(set2))

set3 = set()
set3.add(3)
print(type(set3))
print(set3)

print(set1 - set3)

<class 'set'>
{1, 2, 3}
<class 'dict'>
<class 'set'>
{3}
{1, 2}

---

# Date Time